<p>
    Подтвердите свой Email, перейдя по: <br><br>
    <a href="{{ signedUrl|raw }}">ссылке</a>.
    Действие ссылки истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    До встречи!
</p>
